# Managed by Ansible — r730xd-grafana role
# Grafana dashboard provisioning

apiVersion: 1

providers:
  - name: Grizzly Platform
    orgId: 1
    folder: Grizzly Platform
    type: file
    disableDeletion: false
    editable: true
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards
      foldersFromFilesStructure: false
